.nova-avaliacao-container {
  padding: 2rem;
}

.nova-avaliacao-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: -1rem;
  margin-left: 1.5rem;
}

.nova-avaliacao-desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 2rem;
  margin-left: 1.6rem;
}

.nova-avaliacao-select-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1.6rem;
}

.nova-avaliacao-label {
  font-size: 1rem;
  color: #555;
}

.nova-avaliacao-select {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 5px #246afe5a;
  padding: 1rem 2rem 1rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nova-avaliacao-select:hover {
  border-color: #246afe;
  box-shadow: 0 4px 15px rgba(122, 165, 255, 0.4);
}

.form-input:focus,
.birth-input:focus,
.nova-avaliacao-select:focus {
  outline: none;
  border-color: #246afe;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
}


.birth-date-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.birth-label {
  font-size: 0.9rem;
  color: #555;
  margin-right: 0.5rem;
}


.register-btn {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 15px;
  max-width: 565px;
  border: none;
  background: #246afe;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.register-btn:hover {
  background: #1b4dc0;
}

.inline-inputs {
  display: flex;
  gap: 1rem;
}

.search-btn {
  padding: 1rem 1.25rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #246afe;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  transition: background 0.2s ease, transform 0.2s ease;
}

.search-btn:hover,
.search-btn:focus {
  color: #246afe;
  background-color: white;
  border-color: #246afe;
  border: 1px solid #246afe;
}

.search-btn.cancel-btn {
  background: #e63946;
}

.search-btn.cancel-btn:hover,
.search-btn.cancel-btn:focus {
  color: #e63946;
  background-color: white;
  border-color: #e63946;
  border: 1px solid #e63946;
}

.nome-input {
  flex: 1;
}

.id-input {
  flex: 1;
  max-width: 150px;
}

/* Linha divisória padrão */
.divider {
  margin: 0 1.5rem;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}




.paciente-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(25px);
  border: 1px solid #d3d3d3;
  border-radius: 15px !important;
  padding: 30px 20px !important;
  margin: 0 0 1rem 0 !important;
  cursor: pointer;
}

.paciente-item strong {
  font-weight: 700;
}

.paciente-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.paciente-text {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  align-items: flex-start;
}

.paciente-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.meta {
  font-size: 0.9rem;
  color: #555;
}

